
table{
    width: 50%;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: left;

}
 

tr {
    border-bottom: 1px solid black;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
    padding-left: 35px;
    font-size: 15px; 
    

}
tr:hover {
    background: #F5F5F5;
}

.pro form {
    width: 22%;
    margin: 120px auto;
    text-align: left;
    padding: 12px; 
    border: 1px solid black; 
    border-radius: 5px;
    margin-top: 80px;
    float: left;
    
}

.input-grp {
    margin: 10px 0px 10px 0px;
}
.input-grp label {
    display: block;
    text-align: left;
    margin: 0px;
}
.input-grp input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px black;
    background: lightgray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: green;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: red;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

